.container {
  .figure {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    max-width: 100vw;
    margin-top: 52px;
    img {
      width: 100%;
      height: auto;
    }
  }
  hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: 0;
    border-top: 3px solid #000000;
    width: 100%;
  }
  .blog {
    &__meta {
      display: flex;
      flex-wrap: wrap;
      .avatar {
        width: auto;
        margin-right: 16px;
        img {
          width: 56px;
          height: 56px;
          border-radius: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
      .info {
        line-height: 1.6;
        margin-right: auto;
      }
      .btn-share {
        display: flex;
        border: 1px solid #eaeaea;
        box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
        border-radius: 4px;
        margin-bottom: 53px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px 30px;
          border-right: 1px solid #e8e8e8;
        }
      }
    }
    &__description {
      p {
        font-size: 20px;
        margin-bottom: 34px;
        line-height: 34px;
      }
      .img {
        margin: 52px auto 56px auto;
        width: calc(100% + 20rem);
        margin-left: -10rem;
        margin-right: 10rem;
        img {
          width: calc(100vw - 2rem);
          @media screen and (max-width: 676px) {
            width: 100%;
          }
        }
        figcaption {
          font-family: Montserrat;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #000000;
          margin: 0 auto;
          padding: 1rem;
          max-width: 53rem;
        }
      }
      ul {
        font-size: 20px;
        li {
          list-style-type: disc;
          line-height: 34px;
        }
      }
    }
    &__bottom {
      margin-top: 77px;
      .bottom-share {
        display: flex;
        border: 1px solid #eaeaea;
        box-shadow: 0 1px 4px rgb(0 0 0 / 8%);
        border-radius: 4px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          font-size: 1rem;
          font-weight: 500;
          font-family: Grotesque, serif;
          color: #000;
          text-decoration: none;
          text-align: center;
          border-right: 1px solid #e8e8e8;
          flex: 1;
          img {
            margin-right: 16px;
          }
          span {
            font-size: 16px;
            font-family: Montserrat;
            font-weight: 500;
            line-height: 2.5;
          }
        }
      }
      .tags {
        padding: 32px 0;
        display: flex;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.03em;
        text-align: left;
        border-bottom: 1px dashed #bbb;
        li {
          text-decoration: underline;
          margin-left: 16px;
          a {
            color: #000;
          }
        }
      }
      .author {
        display: flex;
        margin-top: 32px;
        img {
          padding: 10px 20px;
          border-radius: 100%;
          object-fit: cover;
        }
        &__info {
          flex: 1;
          p {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.05em;
            text-align: left;
          }
          span {
            font-family: Montserrat;
            font-weight: 700;
          }
        }
      }
    }
  }
}
//===========================================================================
.read {
  margin-top: 96px;
  position: relative;
  padding-top: 4rem;
  border-top: 2px solid #000;
  &__eye {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container {
    .read-next {
      padding-top: 40px;
      h2 {
        font-size: 44px;
        font-weight: 900;
        margin-bottom: 2rem;
        text-align: center;
      }
      .read-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 30px;
        img {
          margin: auto;
        }
        p {
          font-size: 22px;
          color: #000;
          text-align: center;
          margin-top: 20px;
        }
        @media screen and (max-width: 676px) {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
//===========================================================================
.form {
  margin: 88px 30% 110px 30%;
  &__wrap {
    padding: 9.25% 9.75% 8.75%;
    border: 1px solid #000;
    border-top: 1.25rem solid #000;
    .form-text {
      text-align: center;
      line-height: 1.5;
      margin-bottom: 36px;
      h2 {
        margin-bottom: 18px;
        font-weight: 900;
        font-size: 33px;
      }
    }
    .form-input {
      font-family: Montserrat;
      display: flex;
      font-size: 16px;
      input {
        width: calc(100% - 7.625rem);
        padding: 11px;
        line-height: 1;
        border: 1px solid #000;
        border-radius: 0;
      }
      button {
        padding: 12px;
        color: white;
        background: #000;
        border: none;
        width: 140px;
        font-weight: 700;
      }
    }
  }
}
