//Variable - Mixin
$black-cl: #000;

@mixin transition($args) {
  transition: $args;
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
}
@mixin transform($args) {
  transform: $args;
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
}

//===============================================
.header {
  border-bottom: 1px solid #d6d6d6;
  .container-fluid {
    display: flex;
    justify-content: space-between;
    height: 133px;
    align-items: center;
    .nav {
      display: flex;
      grid-column-gap: 35px;
      font-size: 20px;
      letter-spacing: 1.2px;
      line-height: 34px;
      font-weight: 700;
      li {
        cursor: pointer;
        line-height: 1.5em;

        a {
          color: $black-cl;
        }
      }
      @media screen and (max-width: 676px) {
        display: none;
      }
    }
    .btnmenu {
      display: none;
      width: 40px;
      height: 22px;
      position: relative;
      z-index: 300;
      cursor: pointer;
      margin-left: 20px;
      span {
        width: 100%;
        height: 1px;
        display: block;
        background-color: $black-cl;
        position: absolute;
        top: 50%;
        @include transform(translateY(50%));
        @include transition(0.3s);
      }
      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: $black-cl;
        @include transition(transform 0.3s);
      }
      &:after {
        position: absolute;
        bottom: 0;
      }
      &.click {
        &:before {
          @include transform(rotate(45deg) translate(6px, 8px));
          @include transition(0.5s);
        }
        span {
          opacity: 0;
          @include transition(0.5s);
        }
        &:after {
          @include transform(rotate(-45deg) translate(4px, -8px));
          @include transition(0.5s);
        }
      }
      @media screen and (max-width: 676px) {
        display: block;
      }
    }
    .menu-mobile {
      display: none;
      &.active {
        margin-top: 135px;
        opacity: 1;
        pointer-events: auto;
        @include transition(opacity 0.3s);
      }
      @media screen and (max-width: 676px) {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: $black-cl;
        position: fixed;
        top: 0;
        left: 0;

        z-index: 100;
        opacity: 0;
        // visibility: hidden;
        // pointer-events: none;
        ul {
          flex-direction: column;

          li {
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
