.text {
  margin: 45px auto 0 auto;

  h1 {
    color: #000000;
    font-weight: 900;
    font-size: 54px;
    text-align: center;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.7;
    text-align: center;
    padding-top: 32px;
    font-family: Source Code Pro;
  }
}
